:root {
  --bg-dark: #232946;
  --bg-light: #b8c1ec;
  --bg-white: #fffffe;
  --text-header: #fffffe;
  --text-light: #b8c1ec;
  --text-dark: #121629;
  --bg-btn: #eebbc3;
}

html {  
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-dark);
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  color: var(--text-light);
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}

.container {
  max-width: 1400px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.container-sm {
  background-color: var(--bg-white);
  max-width: 1200px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  border: 1px solid var(--bg-btn);
  background-color: var(--bg-btn);
  padding: 5px 10px;
  width: fit-content;
  border-radius: 5px;
  color: var(--text-dark);
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 10px;
}

.btn:hover {
  font-weight: 600;
  box-shadow: 10px 10px 10px 0px rgba(35,41,70,0.2);
}

a {
  text-decoration: none;
  color: var(--text-dark);
}

.btn a {
  color: var(--text-dark);
}

.btn:hover {
  cursor: pointer;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h1, h2, h3 {
  font-family: 'Lilita One', sans-serif;
  font-weight: 500;
}

.nav {
  display: flex;
  justify-content: right;
}

.card {
  width: 350px;
  background-color: var(--bg-light);
  margin: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: var(--text-dark);
  box-shadow: 10px 10px 10px 0px rgba(35,41,70,0.2);
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards-nav {
  margin-left: auto;
}

.card-btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.icon-btn {
  border: none;
  background-color: transparent;
  color: var(--text-dark);
  font-size: 20px;
  opacity: 1;
  transition: opacity 0s ease 0s;
}

.note-buttons .icon-btn {
  padding: 0;
  margin: 0;
}

.icon-btn:hover {
  opacity: 0.6;
  transform: translateY(-2px)
}

.icon-btn:hover,
.icon-btn a:hover,
.add-note span:hover {
  cursor: pointer;
}

img {
  width: 100%;
}


