:root {
  --bg-dark: #232946;
  --bg-light: #f7f7f7;
  --text-light: #f7f7f7;
  --text-dark: #2f2f2f;
  --bg-btn: #41b2da;
  --color-primary: #41b2da;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-light);
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  color: var(--text-dark);
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  overflow-x: hidden;
  margin: 0;
}

.container {
  max-width: 1400px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.container-sm {
  background-color: var(--bg-white);
  max-width: 1200px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  margin: 20px auto;
}

.home-page,
.error-element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border: none;
  background: none;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

.btn {
  border: 1px solid var(--bg-btn);
  background-color: var(--bg-light);
  padding: 5px 10px;
  width: fit-content;
  border-radius: 22px;
  color: var(--color-primary);
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 10px;
}

.btn-large {
  font-size: 1.5rem;
  width: 350px;
  border: 2px solid var(--bg-btn);
}

.btn-nav {
  background-color: var(--bg-btn);
  color: var(--bg-light);
}

.btn:hover {
  cursor: pointer;
  font-weight: 500;
  box-shadow: 10px 10px 10px 0px rgba(35, 41, 70, 0.2);
}

.btn-icon:hover,
button:hover {
  cursor: pointer;
}

.navigation-icon {
  display: none;
}

a {
  text-decoration: none;
  color: var(--text-dark);
}

i {
  color: var(--color-primary);
}

.btn a {
  color: var(--color-primary);
}

.btn-nav a {
  color: var(--bg-light);
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3rem;
  color: var(--color-primary);
}

h3 {
  font-size: 2rem;
}

h1,
h2,
h3 {
  font-weight: 500;
  margin-bottom: 20px;
}

p {
  margin: 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.nav.btn {
  margin-right: 0;
}

.nav-buttons {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -38px;
  align-items: flex-end;
  margin-right: 10px;
}

.card {
  max-width: 350px;
  background-color: var(--bg-light);
  margin: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: var(--text-dark);
  box-shadow: 0px 0px 10px 4px rgba(35, 41, 70, 0.2);
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards-nav {
  margin: auto;
}

.card-btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.icon-btn {
  border: none;
  background-color: transparent;
  color: var(--color-primary);
  font-size: 20px;
  opacity: 1;
  transition: opacity 0s ease 0s;
}

.icon-btn {
  margin: 15px;
}

.note-buttons .icon-btn {
  margin: 0;
  padding: 0;
}

.icon-btn:hover {
  opacity: 0.6;
  transform: translateY(-2px);
}

.icon-btn:hover,
.icon-btn a:hover {
  cursor: pointer;
}

.show-password-icon .icon-btn:hover {
  transform: none;
  opacity: 1;
}

img {
  width: 100%;
}

.fa-paw {
  color: var(--color-primary);
}

/* .logo-main {
  width: 256px;
  margin-bottom: 20px;
}

.logo-small {
  width: 64px;
} */

.image-credits {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin-top: 30px;
  margin-bottom: 50px;
  position: static;
  bottom: 0;
}

.error-icon {
  width: fit-content;
}

.demo-login {
  background: white;
  padding: 10px;
  border-radius: 5px;
  margin: 50px 125px;
  box-shadow: 0px 5px 10px 0px rgba(35, 41, 70, 0.2);
}

@media screen and (max-width: 1280px) {
  .container-sm {
    max-width: 900px;
  }
}

@media screen and (max-width: 915px) {
  .container-sm {
    max-width: 810px;
  }
}

@media screen and (max-width: 830px) {
  .container-sm {
    max-width: 500px;
  }
  h2 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 640px) {
  h1 {
    font-size: 60px;
  }
  .navigation-icon {
    display: block;
  }
  .btn-nav {
    display: none;
  }
  .
}

@media screen and (max-width: 412px) {
  /* .container-sm {
    background-color: var(--bg-dark);
  } */
  .cards-nav {
    margin: auto;
  }
  .cards-nav.delete-pet {
    margin: 0;
    margin-left: auto;
  }
}

@media screen and (max-width: 360px) {
  h2 {
    font-size: 2rem;
  }
}
