:root {
  --bg-dark: #232946;
  --bg-light: #b8c1ec;
  --bg-white: #fffffe;
  --text-header: #fffffe;
  --text-light: #b8c1ec;
  --text-dark: #121629;
  --bg-btn: #eebbc3;
}

*, ::after, ::before {
  box-sizing: border-box;
}

html {  
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-dark);
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  color: var(--text-light);
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  overflow-x: hidden;
  margin: 0;
}

.container {
  max-width: 1400px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.container-sm {
  background-color: var(--bg-white);
  max-width: 1200px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  margin: 20px auto;
}

.home-page,
.error-element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  border: 1px solid var(--bg-btn);
  background-color: var(--bg-btn);
  padding: 5px 10px;
  width: fit-content;
  border-radius: 5px;
  color: var(--text-dark);
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 10px;
}

.btn:hover {
  cursor: pointer;
  font-weight: 600;
  box-shadow: 10px 10px 10px 0px rgba(35,41,70,0.2);
}

.btn-icon:hover {
  cursor: pointer;
}

.navigation-icon {
  display: none;
}

a {
  text-decoration: none;
  color: var(--text-dark);
}

.btn a {
  color: var(--text-dark);
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h1, h2, h3 {
  font-family: 'Lilita One', sans-serif;
  font-weight: 500;
  margin-bottom: 20px;
}

p {
  margin: 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.nav.btn {
  margin-right: 0;
}

.nav-buttons {
  display: flex;
  align-items: center;
}

.card {
  max-width: 350px;
  background-color: var(--bg-light);
  margin: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: var(--text-dark);
  box-shadow: 10px 10px 10px 0px rgba(35,41,70,0.2);
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards-nav {
  margin-left: auto;
}

.card-btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.icon-btn {
  border: none;
  background-color: transparent;
  color: var(--text-dark);
  font-size: 20px;
  opacity: 1;
  transition: opacity 0s ease 0s;
}

.icon-btn {
  margin: 15px;
}

.note-buttons .icon-btn {
  margin: 0;
  padding: 0;
}

.icon-btn:hover {
  opacity: 0.6;
  transform: translateY(-2px)
}

.icon-btn:hover,
.icon-btn a:hover,
.add-note span:hover {
  cursor: pointer;
}

.show-password-icon .icon-btn:hover {
  transform: none;
  opacity: 1;
}

img {
  width: 100%;
}

.logo-main {
  width: 256px;
  margin-bottom: 20px;
}

.logo-small {
  width: 64px;
}

.image-credits {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.error-icon {
  width: fit-content;
}

@media screen and (max-width: 1280px) {
  .container-sm {
   max-width: 900px;
  }
}

@media screen and (max-width: 915px) {
  .container-sm {
    max-width:810px;
  }
}

@media screen and (max-width: 830px) {
  .container-sm {
    max-width: 500px;
  }
  h2 {
    font-size: 2.5rem;
  } 
}

@media screen and (max-width: 640px) {
  h1 {
    font-size: 60px;
  }
  .navigation-icon {
    display: block
  }
  .navigation-title {
    display: none;
  }
}

@media screen and (max-width: 412px) {
  .container-sm {
    background-color: var(--bg-dark);
  }
  .cards-nav {
    margin: auto;
  }
  .cards-nav.delete-pet {
    margin: 0;
    margin-left: auto;
  }
}

@media screen and (max-width: 360px) {
  h2 {
    font-size: 2rem;
  }
}
