.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards-nav {
  margin-left: auto;
}

.pet-card,
.hospital-card {
  max-width: 350px;
  background-color: var(--bg-light);
  margin: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: var(--text-dark);
}

.pet-card img,
.hospital-card img {
  width: 100%;
}

.pet-card:hover {
  background-color: var(--bg-btn);
}

.hospital.img {
  max-width: 200px
}

.hospital-note-container {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-white);
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px;
}

.hospital-note {
  margin: 10px;
}

.note-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.note-buttons button,
.heart-btn {
  border: none;
  background-color: transparent;
  color: var(--text-dark);
}

.note-buttons button:hover,
.note-buttons a:hover,
.heart-btn:hover,
.add-note span:hover {
  cursor: pointer;
  color: var(--bg-btn)
}

.heart-btn {
  padding-bottom: 10px;
  padding-right: 20px;
  font-size: 20px;
}

.favorite-btn-container {
  display: flex;
  width: 100%;
  justify-content: right;
}

.no-card-view {
  color: var(--text-dark);
  padding: 100px;
}
